body {
  text-align: center;
  background-color: rgb(124 124 255);
}

footer{
  font-weight: bold;
  font-size: 0.8rem;
  color: white;
  font-family: 'Press Start 2P';
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  2%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 20px;
  display: inline-block;
  height: 190px;
  width: 190px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: rgb(253, 61, 61);
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
